pre code {
  display: block;
  /* compromise which works ok on both colour themes */
  background: rgb(141, 140, 140);
  border-radius: 0.75em;
  white-space: pre;
  max-width: 100%;
  min-width: 100px;
  padding: 15px 20px 12px 22px;
  line-height: 1.75;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 900px) {
  pre code {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
}
