.page .cat-button {
  border-radius: 1em;
  background-color: lightGrey;
  border: none;
  color: Black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
}

.page .cat-button.all-cats {
  margin-left: 10px;
}

.page .cat-button.active {
  background-color: DarkGrey;
}

.page .cat-button.all-cats.active {
  background-color: Black;
  color: White;
}
